.domain {
    display: none;
}

.tick line {
    stroke: #C0C0BB;
}

.tick text {
    fill: #8E8883;
    font-size: 8pt;
}

.days {
    fill: rgb(92, 92, 92);
    font-weight: bold;
    font-size: 55pt;
}

.timer {
    fill: #686868;
}

.value {
    fill: rgb(138, 46, 46);
    font-size: 8pt;
    font-weight: 400;
}

.barInfo {
    fill: rgb(255, 255, 255);
    font-size: 20pt;
    font-weight: 800;
}

/* MIKU色 */
.Z {
    fill: #C0620B
}

.Y {
    fill: #EE5677
}

.X {
    fill: #933DDA
}

.W {
    fill: #FFC012
}

.V {
    fill: #F39303
}

.U {
    fill: #00A048
}

.T {
    fill: #C21178
}

.S {
    fill: #00A5BB
}

.R {
    fill: #8605D1
}

.Q {
    fill: #E24000
}

.P {
    fill: #B11111
}

.O {
    fill: #009714
}

.N {
    fill: #EB0000
}

/* 龙牙绿 */
.M {
    fill: #006666
}

.L {
    fill: #66CCFF
}

.K {
    fill: #0775BE
}

.J {
    fill: #B49D33
}

.I {
    fill: #1B813E
}

.H {
    fill: #787878
}

.G {
    fill: #CB1B45
}

.F {
    fill: #DD3287
}

.E {
    fill: #00AF89
}

.D {
    fill: #0F2540
}

.C {
    fill: #2EA9DF
}

.B {
    fill: #0A83E6
}

.A {
    fill: #CF9237
}

